.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.catalogButton {
  all: unset;
  padding: 9px 11px;
  background: #680a08;
  color: white;
  margin-right: 32px;
  cursor: pointer;
}

.logo {
  margin: 0 16px;
}

.links {
  display: flex;
  gap: 16px;
}
