.title {
  color: #242424;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 8px;
}

.date,
.price {
  color: #242424;
  font-size: 12px;
}

.price {
  margin-top: 4px;
  color: #346F22;
}