.container {
  display: grid;
  grid-template-rows: min-content 0fr;
  overflow: hidden;
  transition: grid-template-rows 200ms ease-out;
}

.container[data-state='opened'] {
  grid-template-rows: min-content 1fr;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  cursor: pointer;

  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

.arrow {
  flex-shrink: 0;
  transition: transform 200ms ease-out;
}

.flip {
  transform: rotateX(180deg);
}

.body {
  overflow: hidden;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: opacity 200ms ease-in, padding-top 200ms ease-out,
    padding-bottom 200ms ease-out;
}

.container[data-state='opened'] .body {
  opacity: 1;
  padding-top: 16px;
}
