.wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  line-height: 1;
}

.wrapper[data-variant='thin'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.wrapper[data-size='medium'][data-variant='thin'] {
  width: 68px;
  height: 34px;
}

.wrapper[data-size='small'][data-variant='thin'] {
  width: 54px;
  height: 30px;
}

.switchControlWrapper {
  position: relative;
  display: inline-block;
}

.switchControl {
  appearance: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  background: #d9d9d9;
  transition: background 0.25s;
}

.circle {
  display: flex;
  position: absolute;
  border-radius: 50%;
  background: white;
  transition: transform 0.25s;
  cursor: pointer;
}

/* hover */
.wrapper:hover .switchControl {
  background: #bdbdbd;
}

.wrapper.checked:hover .switchControl {
  background: #910f0c;
}
/* hover end */

/* disabled */
.wrapper.disabled .circle {
  color: #e5e5ea;
}

.wrapper.disabled .switchControl {
  background: #f2f2f7;
  cursor: default;
}

.wrapper.disabled .circle {
  cursor: default;
}

.wrapper.disabled:hover {
  background: inherit;
}
/* disabled end */

.wrapper.checked .switchControl {
  background: #680a08;
}

/* sizes */
/* size = small */
/* default variant */
.wrapper[data-size='small'] .switchControl {
  width: 40px;
  height: 20px;
  border-radius: 16px;
}

.wrapper[data-size='small'] .circle {
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  bottom: 2px;
}

.wrapper[data-size='small'].checked .circle {
  transform: translateX(20px);
}
/* default variant end */

/* thin variant */
.wrapper[data-size='small'][data-variant='thin'] .switchControl {
  width: 24px;
  height: 10px;
  border-radius: 16px;
}

.wrapper[data-size='small'][data-variant='thin'] .circle {
  box-shadow: 0px 2px 8px 0px #00000029;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -3px;
}

.wrapper[data-size='small'][data-variant='thin'].checked .circle {
  transform: translateX(24px);
}
/* thin variant end */

/* square variant */
.wrapper[data-size='small'][data-variant='square'] .switchControl {
  width: 40px;
  height: 20px;
  border-radius: 4px;
}

.wrapper[data-size='small'][data-variant='square'] .circle {
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
}

.wrapper[data-size='small'][data-variant='square'].checked .circle {
  transform: translateX(20px);
}
/* square variant end */
/* size = small end */

/* size = medium - default */
/* default variant */
.wrapper[data-size='medium'] .switchControl {
  width: 48px;
  height: 24px;
  border-radius: 16px;
}

.wrapper[data-size='medium'] .circle {
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
}

.wrapper[data-size='medium'].checked .circle {
  transform: translateX(24px);
}
/* default variant end */

/* thin variant */
.wrapper[data-size='medium'][data-variant='thin'] .switchControl {
  width: 32px;
  height: 12px;
  border-radius: 16px;
}

.wrapper[data-size='medium'][data-variant='thin'] .circle {
  box-shadow: 0px 2px 8px 0px #00000029;
  width: 20px;
  height: 20px;
  left: -12px;
  top: -4px;
}

.wrapper[data-size='medium'][data-variant='thin'].checked .circle {
  transform: translateX(36px);
}
/* thin variant end */

/* square variant */
.wrapper[data-size='medium'][data-variant='square'] .switchControl {
  width: 48px;
  height: 24px;
  border-radius: 4px;
}

.wrapper[data-size='medium'][data-variant='square'] .circle {
  width: 16px;
  height: 16px;
  left: 4px;
  top: 4px;
}

.wrapper[data-size='medium'][data-variant='square'].checked .circle {
  transform: translateX(24px);
}
/* square variant end */

/* size = medium end */
/* sizes end */
