.wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  line-height: 1;
}

.switchControlWrapper {
  position: relative;
  display: inline-block;
}

.switchControl {
  appearance: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  background: #D6D2CF;
  transition: background 0.25s;
}

.circle {
  display: flex;
  position: absolute;
  border-radius: 50%;
  background: white;
  transition: transform 0.25s;
  cursor: pointer;
}

.switchControl:hover ~ .circle,
.wrapper .label:hover ~ .circle,
.circle:hover {
  color: #E3DFDC;
}

.wrapper.disabled .circle {
  color: #EEEAE6;
}

.wrapper.disabled.checked .circle {
  color: #EEEAE6;
}

.wrapper.disabled .switchControl {
  background: #EEEAE6;
  cursor: auto;
}

.wrapper.disabled .circle {
  cursor: auto;
}

.wrapper.disabled.checked .switchControl {
  background: #EEEAE6 !important;
}

.wrapper .label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper.disabled .label {
  cursor: auto;
}

/* colors */
.wrapper.checked[data-color="blue"] .switchControl {
  background: #008EFB;
}

.wrapper.checked[data-color="green"] .switchControl {
  background: #1FB304;
}

.wrapper.checked[data-color="orange"] .switchControl {
  background: #FF6A01;
}
/* colors end */

/* sizes */
/* size = small */
.wrapper[data-size="small"] .switchControl {
  width: 40px;
  height: 20px;
  border-radius: 16px;
}

.wrapper[data-size="small"] .circle  {
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  bottom: 2px;
}

.wrapper[data-size="small"].checked .circle {
  transform: translateX(20px);
}

.wrapper[data-size="small"] .label {
  font-size: 12px;
  line-height: 12px;
}

.wrapper[data-size="small"] .switchControlWrapper + .label,
.wrapper[data-size="small"] .label + .switchControlWrapper {
  margin-left: 5px;
}
/* size = small end */

/* size = medium - default */
/* default variant */
.wrapper[data-size="medium"] .switchControl {
  width: 48px;
  height: 24px;
  border-radius: 16px;
}

.wrapper .circle,
.wrapper[data-size="medium"] .circle {
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  bottom: 2px;
}

.wrapper.checked .circle,
.wrapper[data-size="medium"].checked .circle {
  transform: translateX(24px);
}
/* default variant end */

/* thin variant */
.wrapper[data-size="medium"][data-variant="thin"] .switchControl {
  width: 32px;
  height: 12px;
  border-radius: 16px;
}

.wrapper .circle,
.wrapper[data-size="medium"][data-variant="thin"] .circle {
  box-shadow: 0px 2px 8px 0px #00000029;
  width: 20px;
  height: 20px;
  left: -12px;
  top: -4px;
}

.wrapper.checked .circle,
.wrapper[data-size="medium"][data-variant="thin"].checked .circle {
  transform: translateX(36px);
}
/* thin variant end */

/* size = medium end */
/* sizes end */
