.content {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  margin-bottom: 10em;
}

.navigationAndContactsBlock {
  width: 100%;
  display: flex;
  gap: 3em;
}

.subscriptionBlock {
  min-width: 360px;
}

@media (max-width: 900px) {
  .content {
    max-width: 70%;
    flex-direction: column-reverse;
    margin-bottom: 3em;
  }

  .navigationAndContactsBlock {
    max-width: none;
  }
}

@media (max-width: 420px) {
  .content {
    max-width: 100%;
  }

  .navigationAndContactsBlock {
    flex-direction: column;
  }

  .subscriptionBlock {
    min-width: 0;
  }
}
