VERCEL=1 # Если используется Vercel, то установите в 1, иначе в 0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
# Локальная разработка: localhost:8080
# Прод: 194.87.190.20:8080
BROWSER_BACKEND_SERVER=localhost:8080
