.emailInput {
  margin-bottom: 20px;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.subscribeButton {
  margin-top: 32px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 1em;
  }
}
