.container {
  flex: 0 0 35%;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 900px) {
  .container {
    flex: 0 0 auto;
    max-height: 40vh;
    width: 100%;
  }
}