.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.item + .item {
  margin-top: 12px;
}

.itemLabel {
  color: #242424;
}

.itemValue {
  color: #242424;
  font-weight: 600;
  line-height: 140%;
}

.itemValueRed {
  color: #910F0C;
}