.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.containerEmptyList {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  padding: 32px;
}