.title {
  font-size: 18px;
  font-weight: 500;
  color: #242424;
  margin-bottom: 24px;
}

.button[class] {
  width: 250px;
  margin-bottom: 16px;
}

.modalTitle {
  color: #242424;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%;
  margin-bottom: 10px;
  text-transform: uppercase;
}