.scrollArea {
  max-height: 100vh;
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.scrollArea::-webkit-scrollbar {
  width: 0;
}

.container {
  display: flex;
  gap: 20px;
}

.categories {
  min-width: 355px;
}

.content {
  width: 100%;
}
