.backdrop {
  top: 0;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}

.closeButton {
  all: unset;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: #242424;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}
