.content {
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 18px;
  min-width: 200px;

  background-color: var(--color-white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  opacity: 0;
  transform: translateY(4px);
  transition: opacity 0.2s ease, transform 0.2s ease;

  &[data-enter] {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow {
  fill: var(--color-white);
  stroke-width: 1px;
}

