$main-color: #680a08;
$base-spacing: 16px;

.wrapper {
  margin-top: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  color: $main-color;
}

.contentBlock {
  max-width: 1024px;
}

.sectionTitle {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-right: 24px;
}

.mainText {
  text-indent: 25%;
  font-family: 'forum' !important;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: justify;
}

.description {
  margin-top: $base-spacing;
  padding-left: 25%;
  font-size: 1.5rem;
  line-height: 1.2;
}

.link {
  all: unset;
  margin-top: calc($base-spacing + 8px);
  cursor: pointer;
  display: block;
  color: $main-color;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: 'Golos';
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contentBlock {
    padding-left: 25%;
  }

  .sectionTitle {
    font-size: 1rem;
  }

  .mainText {
    text-indent: 0;
    font-size: 1.5rem;
  }

  .description {
    padding-left: 0;
    font-size: 1rem;
  }

  .link {
    font-size: 1rem;
  }

  .contentBlock {
    padding-left: 10%;
  }
}

@media (max-width: 460px) {
  .container {
    flex-direction: column;
  }

  .sectionTitle {
    font-size: 0.75rem;
  }

  .contentBlock {
    padding-left: 0;
  }
}
