.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 24px;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
