.wrapper {
  color: white;
}

// todo: заменить на константы
.wrapper[data-theme='wineRed'] {
  background: #680a08;
  color: white;
}

.wrapper[data-theme='white'] {
  background: white;
  color: #680a08;
}

.contentContainer {
  padding-top: 100px;
  padding-bottom: 100px;
}
