.container {
  margin-top: var(--margin-top-section);
  margin-bottom: var(--margin-top-section);
}

.title {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  color: #680a08;
  margin-bottom: 24px;
}
