.item {
  color: #717171;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  padding: 8px 12px 8px 12px;
}

.item:hover {
  background-color: #F7F7F7;
  color: #242424;
  cursor: pointer;
}